body {
    font-family: 'Open Sans', sans-serif;
    background-color:#181818;   
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.editor {
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
}

.in,.out {
    margin-top: 30px;
    flex-basis: 50%;
    padding : 10px;
}

.out {
    margin-right: 4.167 vw;
}

textarea {
    width: 91%;
    height: 28%;
    background: #1f1f1f;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    resize: none;
}

iframe {
    width: 100%;
    height: 95%;
    background: #fff;
    border: 0;
    outline: 0;
}

label {
    display: flex;
    align-items: center;
    height: 30px;
}

.generate-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.clear-button {
    background-color: #EE4B2B;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.navbar button {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity: 50%;
    border: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.console {
    background: #1f1f1f;
    padding: 10px;
    font-size: 16px;
    overflow: auto;
    height: 277px;
}

.logo-button {
    display: inline-block;
    margin: 2px;
    padding: 10px;
    border-radius: 2px;
    background-color: #007acc;
    color: #fff;
    border: none;
    cursor: pointer;
}

.logo {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 5px;
}

#output 
{
    height: 45%;
}